body {
    background-color:cornflowerblue;
    height: 800px;
}

h1 {
    font: 36px Monserrat, sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 5px 5px 20px darkblue;
}

#toDoList {
    margin: 50px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.to-do {
    background-color: white;
    padding: 10px 0px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    box-shadow: 5px 5px 20px darkblue;
}

#container {
    margin-top: 30px;
    padding-bottom: 30px;
    min-height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px darkblue;
    font: 16px Montserrat, sans-serif;
}

#container *{
    text-align: left;
    margin-bottom: 5px;
}

.note-wrapper{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed black;
    margin: 5px 20px;
}

.trash-icon{
    width: 20px;
    height: 20px;
    margin: auto 5px;
}

#inputText{
    border: 0px;
    font: 16px Montserrat, sans-serif;
    padding: 5px 10px;
}

#submitBtn{
    background-color: #1877f2;
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    font: 16px Montserrat, sans-serif;
}

.line-through{
    text-decoration: line-through;
}

.no-line-through{
    text-decoration: none;
}